*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* #region common */

.container{
    width: 100%;
    
}

a{
    text-decoration: none;
}

/* #endregion common */

/* #region utilities */

.d_flex{
    display: flex;
}

/* #endregion utilities  */

/* #region .debug */

    .debug main{
        height: 100vh;
    }

    .debug .col{
        background-color: coral;  
        border: 1px dotted black;
        aspect-ratio: 1/1;
    }
/* #endregion .debug */

/* #region .sidebar */

.sidebar{
    width: 230px;
    background-color: #000000;
}

/* #endregion .sidebar  */

/* #region .site_body */

.site_body{
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 100px);
    color: white;
    overflow-y: scroll;
}

.site_body ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

ul a {
    color: #76787d;
    font-weight: bold;
}

.row{
    gap: 1rem;
    
}

.col{
    width: calc(100% / 12 * 2 - 30px);
    margin:0 8px;
    text-align: center;
}

.col img{
    max-width: 100%;
}









@media screen and (max-width:1200px){
    .row{
        flex-wrap: wrap;
    }
    
    .col{
        width: calc(100% / 12 * 3 - 30px);
    }  
}

@media screen and (max-width:768px){
    
    .col{
        width: calc(100% / 12 * 6 - 30px);
    }  
}