*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --sp-dark: black;
    --sp-call-to-a: #080b12;
    --sp-main-bg: #141922;
    --sp-light: #ffffff;
    --sp-sec-bg: #282828;
    --sp-secondary: #74767b;
    --sp-medium: #a3a3a3;
}  

/* #region common */

body{
    background-color: var(--sp-main-bg);
    color: white;
}

.wrapper{
    height: 100vh;
}

.container{
    width: 100%;
    
}

a{
    text-decoration: none;
}

/* #endregion common */

/* #region utilities */

.d_flex{
    display: flex;
}

.justify_between{
    justify-content: space-between;
}

/* #endregion utilities  */

/* #region .debug */

    .debug main{
        /* height: 100vh; */
    }

    .debug .col{
        background-color: coral;  
        border: 1px dotted black;
        aspect-ratio: 1/1;
    }

    /* .debug header{
        background-color: coral;
    } */
/* #endregion .debug */

/* #region .sidebar */

.logo svg{
    width: 100%;
}

.sm-logo{
    display: none;
}

.sidebar{
    height: calc(100vh - 80px);
    width: 230px;
    background-color: var(--sp-dark);
    padding: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_top{
    line-height: 3rem;
}

.functions svg{
    height: 1.2rem;
}

.functions{
    vertical-align: middle;
    line-height: 1.5;
}

.functions a{
    display: block;
    color: var(--sp-light);
    margin: 22px 0;
}

.playlist{
    font-size: 0.8rem;
    padding-top: 1rem;
    line-height: 2;
    color: var(--sp-medium);
}

.your_playlist{
    max-height: 152px;
    overflow-y: scroll;
}

.download{
    vertical-align: middle;
    border-bottom:1px solid var(--sp-medium);
    color: var(--sp-medium);
    padding: 0.3rem 0;
}

.download svg{
    height: 1.2rem;
}

.profile{
    align-items: center;
    margin-top: 1rem;
}

.profile svg{
    height: 2rem;
    background-color: var(--sp-medium);
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0 1rem;
}

/* #endregion .sidebar  */

/* #region .site_body */

header{
    height: 50px;
    text-align: end;
    padding: 0 1rem;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--sp-call-to-a);
}

.btn{
    border: solid 1px var(--sp-light);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    
}

.site_body{
    width: 100%;
    height: 100%;
    color: white;
    overflow-y: scroll;
    height: calc(100vh - 50px - 80px);
}

.site_body ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
         
}

ul a {
    color: var(--sp-secondary);
    font-weight: bold;
}

.row{
    gap: 1rem;
    
}

.col{
    width: calc(100% / 12 * 2 - 30px);
    margin:0 8px;
    text-align: center;
}

.col img{
    max-width: 100%;
}

/*  */

/*  */

footer{
    height: 80px;
    background-color: var(--sp-sec-bg);
}

.player{
    align-items: center;
    height: 100%;
    font-size: 12px;
    padding-left: 0.5rem;
    justify-content: space-between;
}

.player_song{
    width: 200px;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.player_song img{
    height: 40px;
    aspect-ratio: 1/1;
}

.song_icon{
    align-items:center ;
}

.song_icon i{
    padding: 0 0.5rem;
}

.player_controls{
    width: 40%;
    flex-direction: column;
}

.control_icons{
    display: flex;
    gap: 2rem;
    margin:1rem auto;
    font-size: 1.2rem;
    align-items: center;
}

.big{
    font-size: 2rem;
}

.song{
    border-radius: 8px;
    width: 100%;
    margin: 0.3rem 1rem;
    background-color: var(--sp-secondary);
}

.listened{
    margin-left: 0;
    width: 40%;
    background-color: var(--sp-medium);
    height: 100%;
    border-radius: 8px;
}

.player_volume{
    gap: 1rem;
    justify-content: space-between;
}

.volume{
    height: 5px;
    border-radius: 8px;
    max-width: 100px;
    width: 100px;
    margin: 0.3rem 1rem;
    background-color: var(--sp-secondary);
}

@media screen and (max-width:1200px){
    .row{
        flex-wrap: wrap;
    }
    
    .col{
        width: calc(100% / 12 * 3 - 30px);
    }  
}

@media screen and (max-width:768px){
    
    .col{
        width: calc(100% / 12 * 6 - 30px);
    }  
}

@media screen  and (max-width:475px){
    .sidebar{
        width: 50px;
        padding: 0.5rem 0.8rem;
    }
     
    .lg-logo{
        display: none;
    }

    .sm-logo{
        display: block;
    }

    .functions span{
        display: none;
    }

    .functions svg{
        width: 100%;
        height: unset;
    }

    .functions a{
        margin: 6px 0;
    }

    .playlist{
        display: none;
    }

    .download{
        border: unset;
    }

    .download div, .profile div{
        display: none;
    }

    .download svg{
        width: 100%;
        height: unset;
    }

    .profile svg{
        width: 100%;
        height: unset;
        margin: unset;
    }
}